name: conda-build-linux

on:
  workflow_dispatch:

jobs:
  
  build:
  
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: build conda package
      run: ./build-py310.sh
      working-directory: infra/conda/chaste
      
    - name: upload conda package artifacts
      uses: actions/upload-artifact@v4
      with:
        name: pychaste-conda
        path: infra/conda/chaste/build_artifacts/linux-64
